extends layout
    
block content    
  .container
    .row
      .app.col-xs-8.col-xs-offset-2
        img.cover-image(src='https://goo.gl/jLLRTC')
        img.avatar-image(src='/img/photo.jpg')
        .head
          .row
            h1.title.pull-left Inbox
            h2.write.pull-right
              span.fa.fa-pencil
            h2.user-list.pull-right
              span.fa.fa-users
        .body
          .new-message-container
            select.form-control.input-lg.user-list()
              option(value=1) Contact 1
              option(value=2) Contact 2
              option(value=3) Contact 3
            textarea.form-control.input-lg.message(rows=5)

          - for (var i=0; i<0; i++)
            .inbox-container
              .row
                h3.title.pull-left Title
                p.user.pull-right
                  small
                    span.fa.fa-user
                    |  Bruno Hamel
                p.date.pull-right
                  small
                    span.fa.fa-clock-o
                    |  2d
              p.message.clear-fix
                | Sometimes it is necessary to use Bootstrap plugins with other UI frameworks. In these circumstances, namespace collisions can occasionally occur. If this happens, you may call .noConflict on the plugin you wish to revert the value of.
block extendScript
  script(src="/js/frontEndCourriel.js")
