// -----------------------------------------------------------------------------
// This file contains all application-wide Sass modules
// such as Inbox, Outbox, User list
// -----------------------------------------------------------------------------


.app {
    min-height: $cover-image-height + ($avatar-image-height / 2) + 20;
  .cover-image {
    height: $cover-image-height;
    width: 100%;
  }
  .avatar-image {
    width: $avatar-image-height;
    height: $avatar-image-height;
    border-radius: $avatar-image-height / 2;
    border: 8px solid $color-foreground;
    position: absolute;
    top: $cover-image-height / 2;
    right: calc(50% - #{ $avatar-image-height / 2 });
  }
  .head {
    overflow: none;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    height: $avatar-image-height / 2 + 20;
    color: $color-text-light;
    .row {
      padding-left: 15px;
      padding-right: 15px;
      .title {
        font-weight: bold;
      }
      .icon-link {
        transition: all 0.2s ease;
        cursor: pointer;
      }
      .icon-link:hover {
        color: $color-brand;
      }
      .outbox-link {
        margin-right: 20px;
      }
      .user-list-link {
        margin-right: 20px;
      }
      .new-message-link {
        margin-right: 20px;
      }
    }
  }
  .body {
    height: calc(100vh - #{$cover-image-height} - #{$avatar-image-height / 2 + 20} - 100px);
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
    .add-edit {
        margin-top: 20px;
        margin-bottom: 20px;
      }

    .new-message-template {
        select.user-list {

        }
        textarea.message {
            margin-top: 20px;
        }
        input.btn-custom {
          margin-top: 20px;
        }
    }
    div[class*="-group"] {
      padding-top: 15px;
      padding-bottom: 30px;
      border-top: 1px solid $color-separation;
      .row {
        padding-left: 15px;
        padding-right: 15px;
      }
      .title, h3 {
        margin-top: 0px;
      }
    }
    .inbox-group, .outbox-group {
      
      .user {
        color: $color-text-lightest;
      }
      .date {
        color: $color-text-lightest;
        padding-right: 10px;
      }
      .message {
        border-left: 3px solid rgba($color-brand, 0.4);
        padding-left: 10px;
      }
    }
  }
}