// -----------------------------------------------------------------------------
// this file contains all application-wide Sass variables
// such as colors, and fonts.
// -----------------------------------------------------------------------------

// font families
$font-family-title: 'Open Sans', sans-serif;
$font-family-base: 'Open Sans', sans-serif;

// font sizes
$font-size-base: "17px";

// colors
$color-brand: rgb(41, 128, 185);
$color-background: #e2e1e0;
$color-foreground: #fff;
$color-text: #333;
$color-text-light: #555;
$color-text-lightest: #777;


